.article-header {
  @apply w-full h-[30rem];

  img {
    @apply object-cover;
  }
}

.article-content {
  @apply max-w-[1200px] mx-auto;

  h1.article-title {
    padding: 2rem 0 0;
  }

  .article-body {
    padding: 2rem 0;
    font-size: 1.125rem;

    h2 {
      font-size: 2rem;
    }

    a.footnote__citation {
      background: none;
      color: #10b981;

      &:hover {
        color: coral;
        transition: .2s ease-in-out;
      }
    }

    .align-center {
      img {
        @apply m-auto;
      }
      figcaption {
        @apply text-center text-sm text-gray-500;
      }
    }

    .footnotes__item-wrapper {
      margin: .5rem 0;
    }
  }
}
