.article-header {
  @apply w-full h-[30rem];

  img {
    @apply object-cover w-full;
  }
}

.article-content {
  @apply max-w-[1200px] mx-auto;

  h1.article-title {
    @apply pt-8 pl-0;
  }

  .article-body {
    @apply pt-8 lg:text-lg;

    h2 {
      @apply text-4xl;
    }

    a.footnote__citation {
      background: none;
      color: theme('colors.green');

      &:hover {
        color: coral;
        transition: .2s ease-in-out;
      }
    }

    .align-center {
      img {
        @apply m-auto;
      }
      figcaption {
        @apply text-center text-sm text-gray-500;
      }
    }

    .footnotes__item-wrapper {
      margin: .5rem 0;
    }
  }
}
