@layer base {

  * {
    @apply border-dark;
  }

  body {
    @apply font-body bg-body h-screen;
  }

  h1 {
    @apply text-2xl;
  }

  h2, th {
    @apply text-xl font-title;
  }

  a {
    @apply text-opacity-80 transition duration-500 ease-in-out hover:text-opacity-95;
  }



}