@layer components {
  #block-egam-onglets > ul {
    @apply flex flex-wrap py-4 px-10;
    flex-direction: column;
    position: fixed;
    left: 2rem;
    top: 50%;
    z-index: 9;
  }

  #block-egam-onglets li {
    @apply mr-2;
  }
}