@layer components {

  article .content .title h1,
  .views-element-container header h1,
  .node h1,
  .webform h1 {
    @apply mt-4 text-6xl font-title pl-0 lg:mt-0;
  }

  .views-element-container header h1,
  .node h1,
  .webform h1 {
    @apply lg:pl-[2.125rem];
  }

  .related-content h2 {
    @apply text-4xl;
  }

  .teaser .label {
    @apply text-base lg:text-lg mt-2;
  }

  .related-content .items {
    @apply py-4;
  }

  .related-content .items .label {
    @apply text-base;
  }

  .node ul {
    @apply list-disc list-inside;
  }
}