@layer components {

  article .content .title h1,
  .views-element-container header h1,
  .node h1,
  .webform h1 {
    @apply mt-4 text-6xl font-title pl-0 lg:mt-0;
  }

  .views-element-container header h1,
  .node h1,
  .webform h1 {
    @apply lg:pl-[2.5rem];
  }

  .related-content h2,
  .article-teaser-header h2 {
    @apply text-4xl;
  }

  .node .article-teaser-header a {
    @apply p-0;
  }

  .article-teaser-date {
    @apply pt-2;
  }

  .article-teaser-date,
  .article-date {
    @apply text-gray-500;
  }

  .teaser .label {
    @apply text-base lg:text-lg mt-2;
  }

  .related-content .items {
    @apply py-4;
  }

  .related-content .items .label {
    @apply text-base;
  }

  .node ul {
    @apply list-disc list-inside;
  }
}