@layer components {
  .home-menu a,
  #block-egam-main-menu a,
  .content table a,
  .about-page a {
    text-decoration: none;
    display: inline-block;
    padding-bottom: .25rem;
    background-size: 100% .25rem;
    background-image: linear-gradient(#10b981, #10b981);
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
  }

  .home-menu a:hover {
    background-size: 0 .25rem;
  }

  #block-egam-main-menu a,
  .content table a,
  .about-page a {
    padding-bottom: .125rem;
    background-size: 100% .125rem;
  }

  #block-egam-main-menu a:hover,
  .content table a:hover,
  .about-page a:hover {
    background-size: 0 .125rem;
  }
}