@import 'tailwindcss/base';
@import './base/custom-base.css';
@import 'tailwindcss/components';
@import './components/custom-components.css';
@import 'tailwindcss/utilities';
@import './homepage/homepage.css';

@font-face {
  font-family: "Primetime";
  src: url("../../dist/fonts/Primetime.ttf");
}

@font-face {
  font-family: "Futura Book";
  src: url("../../dist/fonts/Futura_Book.ttf");
}

@font-face {
  font-family: "Futura Light";
  src: url("../../dist/fonts/Futura_Light.ttf");
}

@font-face {
  font-family: "Bebas Regular";
  src: url("../../dist/fonts/BebasNeue_Regular.ttf");
}

@layer components {

  .related-content .content {
    @apply w-60;
  }


}
