<div class="home-content w-full h-screen bg-cover bg-center" style="background-image: url({{ cover_src }})">
    <div class="w-full h-screen backdrop-brightness-50">
        <div class="h-screen m-auto flex justify-center items-center text-white p-4">
            <div class="title uppercase absolute top-8 left-8 [word-spacing:100vw] font-branding basis-1/2 text-4xl md:leading-none md:text-[14rem] ">
                {{ title }}
            </div>
            <div class="home-menu absolute top-2/4 right-8 basis-1/2 pt-6 text-xl lg:text-5xl">
                {{ home_menu|raw }}
            </div>
        </div>
    </div>
</div>

