<div class="home-content w-full h-screen bg-cover bg-center" style="background-image: url({{ cover_src }})">
    <div class="w-full h-screen backdrop-brightness-50">
        <div class="h-screen m-auto flex justify-center items-center text-white p-4">
            <div class="title uppercase font-site_name basis-1/2">
                {{ title }}
            </div>
            <div class="home-menu text-5xl basis-1/2 pt-6">
                {{ home_menu|raw }}
            </div>
        </div>
    </div>
</div>

