<div class="home-content bg-cover bg-center"
     style="background-image: url({{ cover_src }})">
    <div class="w-full backdrop-brightness-50 h-screen m-auto flex justify-center items-center text-white p-4">
        <h1 class="title uppercase absolute top-0 left-8 [word-spacing:100vw] font-branding basis-1/2 text-4xl lg:leading-none lg:text-[14rem] ">
            {{ title }}
        </h1>
        <div class="home-menu absolute right-8 lg:right-20 basis-1/2 pt-6 text-xl lg:text-5xl">
            {{ home_menu|raw }}
        </div>
    </div>
</div>

